{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>HardeningApp</title>
    <link rel="icon" href="{% static 'images/logodorange.png' %}">

    <link rel="stylesheet" href="{% static 'style/style3.css' %}">
</head>
    <body>

    <div class="banner">
        <div class="content">
            <h1>Bienvenue sur HardeningApp!</h1>
            <p>  Outil de gestion automatique de durcissement des serveurs et équipements réseau d'Orange Cameroun.</p>
            <div class="bouton">
                <button type="button" href="{% url 'oidc_authentication_init' %}">COMMENCER</button>
            </div>
        
        </div>
        
    </div>
    </body>
</html>