{% extends 'main.html' %}
{% load static %}

{% block contenu %}
<section class="home-section voile h-100">
    <div class="home-content bg-orange">
        <i class='bx bx-menu text-light'></i>
        <span class="text-center text-light text">Logs</span>
    </div>
    <div class="pt-3 ps-3 pe-3">
        <h4 class="text-center bg-dark text-light h-10">
            Liste de toutes les routines exécutées par le système.
        </h4>
        <div class="equipements">
            <div class="ms-1 row w-100" style="font-family:Arial, Helvetica, sans-serif">
                <div class="col-md-12" style="padding:0px; padding-left: 0.5em; position:relative; left: -10px;">
                    <form class="flex mt-1 fw-bolder">
                    <div class="input-group ms-1 mb-1 w-40">
                      <span class="input-group-text" style="height:30px; padding:2px">Date</span>
                        <input type="text" class="form-control w-15"
                               style="height:30px; padding-left:2px;" id="dateR"
                               aria-label="Username" aria-describedby="basi1"/>
                    </div>
                    <div class="input-group ms-1 mb-1 w-50">
                      <span class="input-group-text" style="height:30px; padding:2px">Utilisateur</span>
                        <input type="text" class="form-control w-15"
                               style="height:30px; padding-left:2px;" id="userR"
                               aria-label="Username" aria-describedby="basi1"/>
                    </div>
                    <div class="input-group ms-1 mb-1 w-50">
                        <span class="input-group-text" style="height:30px; padding:2px">Adresse Ip</span>
                        <input type="text" class="form-control" style="height:30px; padding-left:2px;"
                               id="ipR" aria-label="Username" aria-describedby="basi1"/>
                    </div>
                        <div class="input-group ms-1 mb-1 w-65">
                        <span class="input-group-text" style="height:30px; padding:2px">Procedure</span>
                        <input type="text" class="form-control" style="height:30px; padding-left:2px;"
                               id="procedureR" aria-label="Username" aria-describedby="basi1"/>
                    </div>

                    <button type="submit"
                            class="btn btn-orange ms-1 rechercherlogs"><img
                            src="{% static 'images/rech.png' %}" width="14px" height="15px" alt=""></button>
                    <button type="submit"
                            class="btn btn-orange ms-1 voirListeLogs"><img
                            src="{% static 'images/remove.png' %}"
                            width="14px" height="15px" alt=""></button>
                </form>
                </div>
                <div class="col-md-12 h-85">
                    <table id="tableau" height="420px" class="table table-striped bg-light mt-2">
                        <thead>
                        <tr height="40px">
                            <th scope="col">ID</th>
                            <th scope="col">Routine</th>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Ip</th>
                            <th scope="col">Utilisateur</th>
                            <th scope="col">Procédure</th>
                            <th scope="col">Rapport</th>
                        </tr>
                        </thead>
                        <tbody id="contenu-table" class="liste-logs" style="font-size:12px">

                        {% for log in logs %}
                        <tr height="40px">
                            <th scope="row">{{log.id}}</th>
                            <td>{{log.routine}}</td>
                            <td>{{log.date}}</td>
                            <td>{{log.type}}</td>
                            <td>{{log.ip}}</td>
                            <td>{{log.user}}</td>
                            <td>{{log.procedure}}</td>
                            <td>
                                <span class="flex mt-0">
                                {% if log.rapport != "" %}
                                        <button class="btn-table btn-warning telecharger" width="14px" height="15px" name="{{log.rapport}}"> Télécharger </button>
                                {% endif %}
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                    <ul class="col-md-12 h-auto d-flex justify-content-center pagination " style="height: 0%;">

                    </ul>
                </div>

                {% include 'base/pagination.html' %}

                </form>

            </div>
        </div>
    </div>
</section>

<script src="{% static 'script_js/log.js' %}"></script>
{% endblock %}